@{
    ViewBag.Title = "Home Page";
}

<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            @Html.Partial("~/Views/Home/_slider.cshtml")
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>
<!--banner-ends-->
<!--Slider-Starts-Here-->
<!--End-slider-script-->
<!--about-starts-->
@Html.Partial("~/Views/Home/_partiview1.cshtml")
<!--about-end-->
<!--product-starts-->
<div class="product">
    <div class="container">
        <div class="product-top">
            <div class="product-one">
                @Html.Partial("~/Views/Home/_product1.cshtml")
                <div class="clearfix"></div>
            </div>
            <div class="product-one">
                @Html.Partial("~/Views/Home/_product2.cshtml")
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<script src="~/Library/User/js/responsiveslides.min.js"></script>
<script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
</script>
<!--product-end-->
<!--information-starts-->